<!DOCTYPE html>
<html>
    <head>
        <!--Requiredmetatags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--BootstrapCSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <!--Custom CSS Style-->
        <link rel="stylesheet" href="css/style.css">
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    </head>
    
    <!--HTMLCode-->
    <body>
        <div class="wrapper">
            <div class="left">
                <!--<div class="row d-flex justify-content-center align-items-center h-100">-->
                <div class="left-container">
                    <div id="wrapper-bg" class="card text-black bg-image shadow-4-strong" style="background-image: 'img/sky.jpg';"  >
                    <!-- Main current data -->
                        <div class="card-body p-4 border-0">
                            <div class="text-center mb-3">
                            <p class="h2 mb-1" id="wrapper-name"><%= loc %></p>
                            <p class="mb-1" id="wrapper-description"><%= descript %></p>
                            <h2 id="wrapper-temp"><%= temp %>°C</p>
                            <p class="">Fine dust: <span id="wrapper-dust"><%= dust %></span></span>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
                </div>
            </div>
            
            <div class="right">
                <div class="centered">
                    <div id="closet">
                        <% for(let value of clothe_info){ %>
                            <button class="clothe_button">
                                <%= value %>
                            </button>
                        <% } %>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <h2 id="pic1"></h2>
                            </div>
                            <div class="col">
                                <h2 id="pic2"></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2 id="brand1"></h2>
                            </div>
                            <div class="col">
                                <h2 id="brand2"></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2 id="name1"></h2>
                            </div>
                            <div class="col">
                                <h2 id="name2"></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2 id="price1"></h2>
                            </div>
                            <div class="col">
                                <h2 id="price2"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        // Backgrounds
        fetch('http://localhost:3000/weather', {
            method:'GET',
        })
        .then(response => response.json())
        .then(data => { 
            switch (data.weather) {
                case "Snow":
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "url('https://mdbgo.io/ascensus/mdb-advanced/img/snow.gif')";
                    break;
                case "Clouds":
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "img/sky.jpg";
                    break;
                case "Fog":
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "url('https://mdbgo.io/ascensus/mdb-advanced/img/fog.gif')";
                    break;
                case "Rain":
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "url('https://mdbgo.io/ascensus/mdb-advanced/img/rain.gif')";
                    break;
                case "Clear":
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "url('https://mdbgo.io/ascensus/mdb-advanced/img/clear.gif')";
                    break;
                case "Thunderstorm":
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "url('https://mdbgo.io/ascensus/mdb-advanced/img/thunderstorm.gif')";
                    break;
                default:
                    document.getElementById("wrapper-bg").style.backgroundImage =
                    "url('https://mdbgo.io/ascensus/mdb-advanced/img/clear.gif')";
                    break;
            }
        });

        const closet=document.getElementById("closet");
        const brand1=document.getElementById("brand1");
        const name1=document.getElementById("name1");
        const price1=document.getElementById("price1");
        const pic1=document.getElementById("pic1");
        const brand2=document.getElementById("brand2");
        const name2=document.getElementById("name2");
        const price2=document.getElementById("price2");
        const pic2=document.getElementById("pic2");
        const pic_menu=document.getElementById("pic menu");
        const name_menu=document.getElementById("name menu");
        const price_menu=document.getElementById("price menu");
        const brand_menu=document.getElementById("brand menu");
        let closet_type;
        
        //클릭한 버튼의 옷종류이름가져오기
        closet.addEventListener('click',(e)=>{

            
            //자식노드 없는지 확인
            while(brand1.firstChild){
                brand1.removeChild(brand1.firstChild);
            }
            while(name1.firstChild){
                name1.removeChild(name1.firstChild);
            }
            while(price1.firstChild){
                price1.removeChild(price1.firstChild);
            }
            while(pic1.firstChild){
                pic1.removeChild(pic1.firstChild);
            }
            while(brand2.firstChild){
                brand2.removeChild(brand2.firstChild);
            }
            while(name2.firstChild){
                name2.removeChild(name2.firstChild);
            }
            while(price2.firstChild){
                price2.removeChild(price2.firstChild);
            }
            while(pic2.firstChild){
                pic2.removeChild(pic2.firstChild);
            }
            closet_type=e.target.innerText;
            let url='http://localhost:3000/musinsa?type='+closet_type;
            fetch(url,{
                method:'GET',
            })
            .then(response => response.json())
            .then(data => {
                const _pic1=document.createElement("img");
                const _brand1=document.createElement("div");
                const _name1=document.createElement("div");
                const _price1=document.createElement("div");
                const _pic2=document.createElement("img");
                const _brand2=document.createElement("div");
                const _name2=document.createElement("div");
                const _price2=document.createElement("div");
                _pic1.src=data.photo1;
                _pic1.width=200;
                _pic1.height=200;
                _brand1.textContent=data.brand1;
                _name1.textContent=data.name1;
                _price1.textContent=data.price1;
                _pic2.src=data.photo2;
                _pic2.width=200;
                _pic2.height=200;
                _brand2.textContent=data.brand2;
                _name2.textContent=data.name2;
                _price2.textContent=data.price2;
                price_menu.textContent="가격";
                pic_menu.textContent="사진";
                name_menu.textContent="제품명";
                brand_menu.textContent="브랜드명";
                pic1.appendChild(_pic1);
                brand1.appendChild(_brand1);
                name1.appendChild(_name1);
                price1.appendChild(_price1);
                pic2.appendChild(_pic2);
                brand2.appendChild(_brand2);
                name2.appendChild(_name2);
                price2.appendChild(_price2);
                
            })
            .catch(error=>console.log(error));
        })
    </script>
</html>